{% extends "main.html" %}
{% block content %}
<div class="card card-section item-info-card">
    <div class="row">
        <div class="col-md-12 padding-top">
            <label for="editform"><h1>Edit Item</h1></label>
            <form method="post" action="#" name="editform">
                <div class="form-group">
                    <label for="name">Item Name:</label>
                    <input type ="text" maxlength="100" class="form-control" name="name" value="{{ item.name }}">
                    <label for="description">Description:</label>
                    <textarea class="form-control" maxlength="250" rows="3" name="description">{{ item.description }}
                    </textarea>
                    <div class="form-group">
                        <label for="catalog">Category:</label>
                        <select class="form-control" name="catalog">
                            {% for catalog in catalogs %}
                                {% if item and item.catalog_id == catalog.id %} 
                                <option id="{{catalog.id}}" value="{{catalog.id}}" selected>{{catalog.name}}</option>
                                {% else %}
                                <option id="{{catalog.id}}" value="{{catalog.id}}">{{catalog.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" id="submit" type="submit">Update</button>
                    <button class="btn btn-default" type="button">
                        <a href = "{{ url_for('showCatalogs') }}">
                            Cancel
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
